@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Pacifico&family=Secular+One&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    overflow-x: hidden;
    background-color: #202731;
}

.container {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DD3F31;
  }


.boxScreen {
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}


.boxScreen h1 {
    font-family: 'Secular One', sans-serif;
    color: white;
}

.container-skills {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    min-height: 50vh;
    padding-top: 100px;
    background-color: #202731;
}




 .hero {
    display: flex
} 
 

.card {
    position: relative;
    height: 150px;
    top: 70px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.575);
    border-width: 3px;
    border-style: solid;
    background-color: cadetblue;
  
}


.hero svg {
    width: 300px;
  }
  
#bracket1  {
    transform: translateX(10px);
}

#bracket2  {
    transform: translateX(-10px);
}

.h1Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 4em;
    line-height: 1.2;
    font-family: 'Secular One', sans-serif;
}


@media only screen and (max-width: 566px) {
    #bracket1 {
        visibility: hidden;
    }
    #bracket2 {
        visibility: hidden;
    }
}

@media only screen and (max-width: 498px) {
    .h1Hero {
        font-size: 2em;
    }
    .boxScreen {
        width: 200px;
    }
    .boxScreen h1 {
      font-size: 1.2em;
    }
}


#nomeCor {
    color: orange;
}



.sectionAnim {
    overflow: hidden;
    gap: 37px;
    opacity: 0;
    transition:0.5s ease-in;
    transform:translateX(-10rem)
}



.sectionAnim.mostrar {
    transform:translateX(0);
    opacity: 1;
}



#skillsTxt {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-size: 3em;
    font-family: 'Secular One', sans-serif;
}


.aboutMeSkills {
    text-align: center;
    flex-basis: 100%;
}

.aboutMeSkills img {
    transition: transform 0.5s ease;
    position: relative;
    width: 100px;
    height: auto;

}

.aboutMeSkills img:hover {
    transform: scale(1.1);
    
}



#hover {
    position: absolute;
    top: 100px;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.info-box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.container-about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #202731;
   
}

.container-contact {
    min-height: 100vh;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(255,196,0);
    background: linear-gradient(0deg, rgba(255,196,0,1) 0%, rgba(36,127,142,1) 73%); 
}

.container-contact img:nth-child(2) {
    height: 350px;  
    border-radius: 20px;
}

.container-contact img:nth-child(3), .container-contact img:nth-child(4) {


}

.container-about h1:nth-child(1) {
    color: aquamarine;
    font-family: 'Secular One', sans-serif;
}


.container-about h1:nth-child(2) {
    padding: 90px;
    bottom: 0;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    font-size: 2em;
}

.line {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.line svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.line .shape-fill {
    fill: #F8CB74;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #202731;
}



.spacer {
    aspect-ratio: 970/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/imagens/layer1.svg');
}

.layer2 {
    background-color: #202731;
}
footer {
    position: relative;
    background-color: #FEC300;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

footer h1:nth-child(1) {
    font-size: 1.5em;
    bottom: 0;
    position: absolute;
}

footer h1:nth-child(2) {

    font-size: 1;
    top: 20%;
    position: absolute;

}
