@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Pacifico&family=Secular+One&display=swap');

@font-face {
    font-family: "magnitude";
    src: url('/assets/fonts/Magnitude-DEMO-BF6427357f34ea2.ttf') format("truetype");
}

@font-face {
    font-family: "rockinsoda";
    src: url('/assets/fonts/Rockinsoda.ttf') format("truetype");
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, red, #DD3F31)
  }


.boxScreen {
    display: flex;
    width: 500px;
    justify-content: center;
    background-color: black;
    border-radius: 20px;
}



.boxScreen h1 {
    font-family: 'Secular One', sans-serif;
    color: wheat;
  }
  



.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    background: linear-gradient(to bottom, #202731, #12161C);
}




 .hero {
    display: flex
} 
 

.card {
    position: relative;
    height: 150px;
    top: 70px;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.575);
    border-width: 3px;
    border-style: solid;
    background-color: cadetblue;
  
}


.hero svg {
    width: 300px;
  }
  
#bracket1  {
    transform: translateX(10px);
}

#bracket2  {
    transform: translateX(-10px);
}

.h1Hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 8em;
    line-height: 1.2;
    font-family: "magnitude"
}


@media only screen and (max-width: 1446px) {
    #bracket1 {
        visibility: hidden;
    }
    #bracket2 {
        visibility: hidden;
    }
}

@media only screen and (max-width: 498px) {
    .h1Hero {
        font-size: 2em;
    }
    .boxScreen {
        width: 200px;
    }
    .boxScreen h1 {
      font-size: 1.2em;
    }
}


#nomeCor {
    color: orange;
}



.sectionAnim {
    overflow: hidden;
    opacity: 0;
    transition: 0.5s ease-in;
    transform:translateX(-10rem)
}



.sectionAnim.mostrar {
    transform:translateX(0);
    opacity: 1;
}



#skillsTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: "rockinsoda";
    color: #6E1869;
}


.aboutMeSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: center;
    align-content: center;   
}

.aboutMeSkills img {
    transition: transform 0.5s ease;
    width: 100px;
    height: 100px;

}

.aboutMeSkills img:hover {
    transform: rotate(360deg);
    
}



#hover {
    position: absolute;
    top: 100px;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.info-box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.container-about {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, #12161C, black);
   
}

.container-contact {
    min-height: 100vh;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(255,196,0);
    background: linear-gradient(0deg, rgba(255,196,0,1) 0%, rgba(36,127,142,1) 73%); 
}

.container-contact img:nth-child(1) {
    height: 350px;  
    border-radius: 20px;
}

.container-contact img:nth-child(1), .container-contact img:nth-child(2) {
    transition: transform 0.5s ease;
}

.container-contact img:nth-child(1):hover, .container-contact img:nth-child(2):hover {
    transform: scale(1.1);
}





.container-about h1:nth-child(1) {
    color: #9E0861;
    font-family: "rockinsoda"
}


.container-about h1:nth-child(2) {
    padding: 10px;
    font-family: 'Secular One', sans-serif;
    text-align: justify;
    font-size: 2em;
    color: wheat;
}

.line {
    position: absolute;
    top: 0vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.line svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.line .shape-fill {
    fill: #F8CB74;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 174px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: black;
}



.spacer {
    aspect-ratio: 970/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(/assets/imagens/layer1.svg);
}

.layer2 {
    background-color: black;
}
footer {
    background-color: #FEC300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h1:nth-child(1) {
    white-space: nowrap;
    font-size: 2em;
    font-family: 'Secular One', sans-serif;
    
}

footer h1:nth-child(2) {
    font-family: 'Secular One', sans-serif;
    font-size: 1em;
}


@media only screen and (max-width: 600px) {
    footer h1:nth-child(1) {
        font-size: 1.2em;
    }
}


@media only screen and (max-width: 600px) {
    footer h1:nth-child(1) {
        font-size: 1.2em;
    }
    .container-contact img:nth-child(1) {
        height: 250px;  
        border-radius: 20px;
    }
}

@media only screen and (max-width: 362px) {
    footer h1:nth-child(1) {
        font-size: 1em;
    }
    footer h1:nth-child(2) {
        font-size: .8em;
    }
}